{% extends "main/base.html" %}
{% load tailwind_filters %}
{% load static %}

{% block title %} Register {% endblock %}


{% block content %}

<div class="flex items-center min-h-screen">
    <div class="w-full">
        <div class="max-w-lg mx-2 lg:mx-auto">
            <div class="flex items-center justify-center">
                <img src="{% static 'img/karisma.png' %}" alt="LDK Karisma" class="w-28">
                <p class="ml-2 text-4xl text-yellow-400">UNSERA MENGAJI</p>
            </div>

            <div class="mt-2">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="mt-2 px-3 py-1.5 bg-yellow-400 hover:bg-yellow-300 text-white rounded-lg text-xl">Register</button>
                </form>
            </div>

            <div class="mt-4 mb-20">
                <p>
                    Sudah punya akun? <a href="/" class="text-blue-500">Login</a>
                </p>
            </div>
        </div>
    </div>    
</div>


{% endblock %}